@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}
body {
font-family: Poppins, sans-serif !important;
  background-color: #f9f9f9;
}
.dropdown-store:hover .dropdown {
  display: block;
}
ul > li {
  cursor: pointer;
  transition-duration: 300ms;
}
ul > li:hover {
  color: #fc5f5f;
}
.cart-div {
  overflow: hidden;
  flex-direction: column;
  text-align: center;
  color: #fc5f5f;
  font-size: 1.2rem;
}

svg {
  width: 120px;
  color: #fc5f5f !important;
}

#top-line,
#bottom-line,
#middle-line {
  transform-box: fill-box;
  transform-origin: center;
  background-color: #fc5f5f;
}

.Header {
  background: url("./Components/images/hero-bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.Plants_Card_Div {
  background-image: url("./Components/images/plant6-free-img.jpg");

  background-repeat: no-repeat;
  background-size:contain;
}
.cart-icon{

  visibility: hidden;
}
.img-Div:hover .cart-icon{
visibility: visible;
}
.test-img{
  background: url('./Components/images/user1-free-img.jpg') ;
  background-size: cover;
  background-position: top center;

}

.Collection-div{
  background-image: url('./Components/images/CTA-bg.jpg');
  background-size: 100% 100%;
  
}
